<div class="full-popup"
     style="display: block;position: fixed;z-index:999999;width: 100%;height: 100%;margin: 0;padding: 0;background:rgba(0, 0, 0, 0.8)">
    <div id="change-password" class="modal" aria-hidden="true">
        <div class="modal-header">

            <h2>Wymagana zmiana hasła</h2>
        </div>
        <div id="change-password-form-body" class="modal-body">
            <p>To jest Twoje pierwsze logowanie. Aby przejść dalej proszę ustawić nowe hasło.</p>
            {{ form_start(form, {'action': path('admin_validate_new_password'), 'method': 'POST'}) }}
            <div id="form-errors" class="control-group normal_text">

            </div>
            {{ form_row(form.oldPassword) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            <button type="submit">Register!</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script>
    $('#change-password').find('form').ajaxForm({
        success: function (json) {
            var data = JSON.parse(json);
            console.log(data);
            var $formData = $('#form-errors');
            $formData.html('');
            if (data.errors.length > 0) {
                $.each(data.errors, function (key, value) {
                    $formData.append('<span class="text-error">' + value + '</span>');
                });
            } else {
                $('#change-password-form-body').html('Hasło zostało pomyślnie zmienione.<br />Okno zostanie automatyczne zamknięte za <strong id="timeout">3</strong>');
                var init = 3;
                var interval = setInterval(function () {
                    if (init < 0) {
                        clearInterval(interval);
                        $('.full-popup').fadeOut();
                    } else {
                        $('#timeout').text(init.toString());
                        init = init - 1;

                    }
                }, 1000);
            }
        }
    });
</script>

